<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- <div>
        <p>
            hi there, I'am Arpit Pandey. <strong>I am Billioniare. </strong> 
        </p>
    </div> -->

    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">Oops, page not found</div>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
