
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <!-- <div>
        <p>
            hi there, I'am Arpit Pandey. <strong>I am Billioniare. </strong> 
        </p>
    </div> -->

   <%- include('./partials/nav.ejs') %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
