<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Js crash course</title>
  </head>
  <body>
    <!-- <div>
        <p>
            hi there, I'am Arpit Pandey. <strong>I am Billioniare. </strong> 
        </p>
    </div> -->

    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninjas</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et iaculis
      ligula. Quisque vehicula eleifend vulputate. Proin viverra congue
      accumsan. Etiam pellentesque mauris eget augue rutrum rutrum. Sed pharetra
      dignissim augue ac porta. Nunc elementum mattis arcu, at pellentesque
      ipsum imperdiet at. Vivamus id vestibulum nisi. Sed nec risus eu.
    </p>
  </body>
</html>
